@charset "utf-8";
@font-face { font-family: Soberana Titular; src: url(fonts/SoberanaTitular-Regular.otf);font-weight: normal; }
@font-face { font-family: Soberana Titular Bold; src: url(fonts/SoberanaTitular-Bold.otf); font-weight: normal; }
@font-face { font-family: Soberana Sans; src: url(fonts/SoberanaSans-Regular.otf); font-weight: normal; }
@font-face { font-family: Soberana Sans Italic; src: url(fonts/SoberanaSans-Italic.otf); font-weight: normal; }
@font-face { font-family: Soberana Sans Bold; src: url(fonts/SoberanaSans-Bold.otf); font-weight: normal; }

body {
        /*font-family: "Soberana Sans Regular", Calibri, sans-serif;*/
	padding-top: 60px;
}

/*h1, h2, h3, h4 {
    font-family: "Soberana Titular", Calibri, sans-serif;
}*/

.main-content {
	border-right: 1px solid #ccc;
	border-left: 1px solid #ccc;
	min-height: 1200px;
	height:100%;
        padding-bottom: 25px;
	-webkit-box-shadow: 0px -5px 6px 3px rgba(50, 50, 50, 0.23);
	-moz-box-shadow:    0px -5px 6px 3px rgba(50, 50, 50, 0.23);
	box-shadow:         0px -5px 6px 3px rgba(50, 50, 50, 0.23);
}

div.inner-container {
    border: 1px solid silver;
    margin:20px;
    /*margin-left:15%;
    margin-right:15%;*/
    padding:40px;
    /*margin-top:25px;*/
    border-radius: 10px;
}

div.inner-container.content-preview {
    border: 1px solid lightgray;
    padding:10px;
}

/**********************Progress indicator styles*******************************/
div.progress-indicator-container {
	margin-top: 40px;
}

ol.progress-indicator {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

ol.progress-indicator li {
	display: inline-block;
	text-align: center;
	line-height: 3.5em;
	width:16%;
    white-space: nowrap;
}

ol.progress-indicator li.done {
	color: black;
	border-top: 4px solid #3276b1;
/*	margin-left:10px;*/
}

ol.progress-indicator li.pending {
	color: silver;
	border-top: 4px solid #ccc;
/*	margin-left: 10px;*/
}

ol.progress-indicator li.current {
	border-top: 4px solid #3276b1;
/*	margin-left: 10px;*/
}

ol.progress-indicator li:after {
	content: "\00a0\00a0";
}

ol.progress-indicator li:before {
	position: relative;
	float: left;
	left:49%;
	line-height:1.3em;
	bottom: 0.7em;
}

ol.progress-indicator li.done:before {
	font-family: FontAwesome;
	content: "\f00c";
	color: white;
	font-size:1.2em;
	background-color: #3276b1;
	border: 1px solid #3276b1;
	width: 1.3em;
	height: 1.3em;
	border-radius:50%;
}

ol.progress-indicator li.current:before {
	font-family: FontAwesome;
	content: "\f141";
	color: white;
	font-size:1.5em;
	background-color: #3276b1;
	border: 1px solid #3276b1;
	width: 1.7em;
	height: 1.7em;
	bottom:1em;
	border-radius:50%;
	line-height:1.7em;
}

ol.progress-indicator li.pending:before {
	font-family: FontAwesome;
	content: " ";
	color: white;
	font-size:1.2em;
	background-color: lightgray;
	border: 1px solid silver;
	width: 1.3em;
	height: 1.3em;
	border-radius:50%;
}

div.event-container {
	margin-top:10px;
}

div.event-container .event-item {
	margin-bottom:5px;
	background-color:#f8f8f8;
}

div.event-container h5 {
	font-weight:bold;
}

/**********************Overrides for form validation***************************/
.has-success .form-control {
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
}

.has-success .form-control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}

/**************************map style hacks*************************************/
#map-canvas {
    min-height:400px;
    /*min-width:800px;*/
    height: 100%;
    width:100%;
    margin: 0px;
    padding: 0px
}

.mapdata-container {
    max-height: 250px;
    overflow-y: auto;
}

/************************Styles for alert level buttons************************/
.alert-yellow {
    color: gold;
}

.alert-orange {
    color: orange;
}

.alert-red {
    color: red;
}

.alert-purple {
    color: crimson;
}

/******************Styles for file selector*************************/
.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    background: red;
    cursor: inherit;
    display: block;
}

/**************************Custom styles******************************/
.form-control.input-sector {
    width: 70px;
}

.date.input-group {
    width:200px;
    display:inline-table;
}

/*************************Bootstrap overrides***************************/
.navbar-default {
    height: 60px;
    background: #efefef; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VmZWZlZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjYzJSIgc3RvcC1jb2xvcj0iI2Y3ZjVmNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(top,  #efefef 0%, #f7f5f6 63%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#efefef), color-stop(63%,#f7f5f6)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #efefef 0%,#f7f5f6 63%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #efefef 0%,#f7f5f6 63%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #efefef 0%,#f7f5f6 63%); /* IE10+ */
    background: linear-gradient(to bottom,  #efefef 0%,#f7f5f6 63%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efefef', endColorstr='#f7f5f6',GradientType=0 ); /* IE6-8 */
}

.navbar-brand {
    padding:0;
}

.logo {
    height: 60px;
}

.table-input-sm {
    width: 90%;
    display: table-cell;
}

.data-table>thead>tr>th {
    font-size: 12px;
}